@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{

    padding: 0;
    margin: 0;

}

body{

    background-color: #E7EEF6;
    background-size: cover;
    font-family: 'Karla', sans-serif;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-content: center;

}

main{

    width: 640px;
    height: 435;
    background-color: white;
    position: relative;

}

div{

    display: inline-block;
    padding: 10px;

}

h1{

    font-size: 25px;
    color: hsl(179, 62%, 43%);
    margin-bottom: 10px;

}

header{

    margin-top: 20px;

}

h3{

    margin-bottom: 10px;

}

.white-section h3{

    color: hsl(71, 73%, 54%);

}

.white-section p{

    color: #D0D5DB;

}


.cyan-secton{

    background-color: #2BB3B1;
    width: 300px;
    height: 250px;
    color: #FFFCFE;
    margin-left: -10px;
    margin-bottom: -10px;
    
}

ul{

    list-style-type: none;

}

span{

    font-size: 30px;

}

h4{

    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;

}

button{

    background-color: #BFDE33;
    padding: 15px;
    border: #4E9D46;
    width: 100%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    cursor: pointer;

}

a{

    text-decoration: none;
    color: white;

}

.light-cyan-section{

    position: absolute;
    bottom: 0px;
    background-color: #4BBFBD;
    width: 300px;
    height: 250px;
    color: #FFFCFE;

}

.light-cyan-section p{

    width: 210px;
    margin-top: 25px;

}

.attribution {
    
    position: absolute;
    left: 0;
    top: 0;
    font-size: 11px; 
    text-align: center;

}

.attribution a { 
    
    color: hsl(228, 45%, 44%);

}

@media screen and (max-width: 650px) {

    body{

        height: 140vh;
        background-color: #E7EEF6;


    }
    main{

        width: 320px;
        height: 785px;
        margin-top: -40px;

    }

    .cyan-secton{

        height: 300px;
        
    }

    .light-cyan-section{

        position: absolute;
        left: 0;

    }

}